<div class="jumbotron center">
	<h1>Medicine in Food</h1>
	<p><%= link_to "Sign-up here", "#", class: "btn btn-primary btn-lg" %></p>
</div>
<div class="jumbotron center">
	<h1>test</h1>
	<p>[insert]</p>
</div>

